<html>
<head>
<link rel='stylesheet' href = '{{ url_for('static', filename='css/main.css') }}'>
<h1 class='logo'>Analyst Console Assigned Tickets</h1>
</head>
<body><style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
</style>
<table style='width:50% display: block; height: 100px; overflow: scroll;'>
<p><a href="/layout">Home | </a><a href="/assigned">Assigned</a><a href="/unassigned"> | Unassigned</a><a href="/getacetix"> | ACE Tix</a></p>
  <tr>
    <th>ACE-Links</th>
 <tr>
    <td>Web Tickets:13</td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4670297 target=_blank>4670297</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4670351 target=_blank>4670351</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4670755 target=_blank>4670755</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4670769 target=_blank>4670769</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4670783 target=_blank>4670783</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4670799 target=_blank>4670799</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4670807 target=_blank>4670807</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4670871 target=_blank>4670871</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4670957 target=_blank>4670957</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4671021 target=_blank>4671021</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4671071 target=_blank>4671071</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4671125 target=_blank>4671125</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4671127 target=_blank>4671127</a></td>
  </tr>
 <tr>
    <td>File Tickets:0</td>
  </tr>
 <tr>
    <td>SDR Tickets:1</td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/sdr/disputes/4673301 target=_blank>4673301</a></td>
  </tr>
 <tr>
    <td>Snort Tickets:1</td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/snort_escalations/297 target=_blank>297</a></td>
  </tr>
 <tr>
    <td>Re-Opened Tickets:0</td>
  </tr>
 <tr>
    <td>ALL Unassigned ACE tickets:34</td>
  </tr>
 <tr>
    <td>Snort Unassigned:0</td>
  </tr>
 <tr>
    <td>File Unassigned:19</td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4673783 target=_blank>4673783</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4673801 target=_blank>4673801</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4673803 target=_blank>4673803</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4673823 target=_blank>4673823</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4674113 target=_blank>4674113</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4674121 target=_blank>4674121</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4674123 target=_blank>4674123</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4674141 target=_blank>4674141</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4674143 target=_blank>4674143</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4674153 target=_blank>4674153</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4674161 target=_blank>4674161</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4674169 target=_blank>4674169</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4674191 target=_blank>4674191</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4674195 target=_blank>4674195</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4674197 target=_blank>4674197</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4674207 target=_blank>4674207</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4674211 target=_blank>4674211</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4674213 target=_blank>4674213</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/file_rep/disputes/4674223 target=_blank>4674223</a></td>
  </tr>
 <tr>
    <td>SDR Unassigned:0</td>
  </tr>
 <tr>
    <td>Web Unassigned:15</td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4671133 target=_blank>4671133</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4671137 target=_blank>4671137</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4671141 target=_blank>4671141</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4671193 target=_blank>4671193</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4671261 target=_blank>4671261</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4673303 target=_blank>4673303</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4673705 target=_blank>4673705</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4673709 target=_blank>4673709</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4673711 target=_blank>4673711</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4673713 target=_blank>4673713</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4673715 target=_blank>4673715</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4673717 target=_blank>4673717</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4673719 target=_blank>4673719</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4673721 target=_blank>4673721</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4673723 target=_blank>4673723</a></td>
  </tr>
</table>
</div><br><br><div class=footer>
<p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
