<html>
<head>
<link rel='stylesheet' href = '{{ url_for('static', filename='css/main.css') }}'>
<h1 class='logo'>Analyst Console Assigned Tickets</h1>
</head>
<body><style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
</style>
<table style='width:50% display: block; height: 100px; overflow: scroll;'>
<p><a href="/layout">Home | </a><a href="/assigned">Assigned</a><a href="/unassigned"> | Unassigned</a><a href="/getacetix"> | ACE Tix</a></p>
  <tr>
    <th>ACE-Links</th>
 <tr>
    <td>Web Tickets:11</td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4560389 target=_blank>4560389</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4593025 target=_blank>4593025</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4595121 target=_blank>4595121</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4595185 target=_blank>4595185</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4595245 target=_blank>4595245</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4595247 target=_blank>4595247</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4595249 target=_blank>4595249</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4595369 target=_blank>4595369</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4595505 target=_blank>4595505</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4595533 target=_blank>4595533</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4595535 target=_blank>4595535</a></td>
  </tr>
 <tr>
    <td>File Tickets:0</td>
  </tr>
 <tr>
    <td>SDR Tickets:0</td>
  </tr>
 <tr>
    <td>Snort Tickets:0</td>
  </tr>
 <tr>
    <td>Re-Opened Tickets:0</td>
  </tr>
 <tr>
    <td>ALL Unassigned ACE tickets:25</td>
  </tr>
 <tr>
    <td>Snort Unassigned:0</td>
  </tr>
 <tr>
    <td>File Unassigned:0</td>
  </tr>
 <tr>
    <td>SDR Unassigned:1</td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/sdr/disputes/4603217 target=_blank>4603217</a></td>
  </tr>
 <tr>
    <td>Web Unassigned:24</td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4595647 target=_blank>4595647</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4595681 target=_blank>4595681</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4595697 target=_blank>4595697</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4596021 target=_blank>4596021</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4596105 target=_blank>4596105</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4596401 target=_blank>4596401</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4596403 target=_blank>4596403</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4596443 target=_blank>4596443</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4596481 target=_blank>4596481</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4596963 target=_blank>4596963</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4596965 target=_blank>4596965</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4597007 target=_blank>4597007</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4597049 target=_blank>4597049</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4598595 target=_blank>4598595</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4598599 target=_blank>4598599</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4598609 target=_blank>4598609</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4599583 target=_blank>4599583</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4599595 target=_blank>4599595</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4599617 target=_blank>4599617</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4601041 target=_blank>4601041</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4601323 target=_blank>4601323</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4602005 target=_blank>4602005</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4603091 target=_blank>4603091</a></td>
  </tr>
 <tr>
    <td><a href=https://analyst-console.vrt.sourcefire.com/escalations/webrep/disputes/4603221 target=_blank>4603221</a></td>
  </tr>
</table>
</div><br><br><div class=footer>
<p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
