<html>
<head>
<link rel='stylesheet' href = "{{ url_for('static', filename='css/main.css') }}">
<h1 class='logo'>Assigned</h1>
</head>
<body><style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
</style>
<table style='width:100%'>
<p><a href="/layout">Home | </a><a href="/assigned">Assigned</a> <a href="/unassigned"> | Unassigned</a><a href="/getacetix"> | ACE Tix</a><a href="/last7"> | Last 7 Days</a></p>
<p><a href="/ajx"> | Scripting</a></p>  <tr>
    <th>Link</th>
    <th>Description</th>
    <th>DateOpened</th>
    <th>LastModified</th>
    <th>Bulk Resolve</th>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-79036 target=_blank>COG-79036</a></td>
    <td>[FN] CENTRAL BANK OF KUWAIT– IPAS – Missed spam message</td>
    <td>2025-04-24</td>
    <td>2025-04-24 14:43:22</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-79036><label for=COG-79036>COG-79036</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-79038 target=_blank>COG-79038</a></td>
    <td>[FP] FIRST ABU DHABI BANK - IPAS - legitimate emails</td>
    <td>2025-04-24</td>
    <td>2025-04-24 14:41:20</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-79038><label for=COG-79038>COG-79038</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78949 target=_blank>COG-78949</a></td>
    <td>[FP] YAS HOLDING LLC - IPAS- Suspect SPAM</td>
    <td>2025-04-17</td>
    <td>2025-04-24 13:01:36</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78949><label for=COG-78949>COG-78949</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78996 target=_blank>COG-78996</a></td>
    <td>[FN][ms] KEMENTERIAN PENGANGKUTAN - IPAS - classify as SPAM</td>
    <td>2025-04-22</td>
    <td>2025-04-24 12:59:44</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78996><label for=COG-78996>COG-78996</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-77716 target=_blank>COG-77716</a></td>
    <td>[FP] RUHR-UNIVERSITAET BOCHUM - Endpoint - BP Modify Unix Shell Configuration</td>
    <td>2025-02-17</td>
    <td>2025-04-24 12:34:59</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-77716><label for=COG-77716>COG-77716</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78235 target=_blank>COG-78235</a></td>
    <td>[CR] BUNZL OUTSOURUING SERVICES BV - AMP - see provided links for possible signatures</td>
    <td>2025-03-12</td>
    <td>2025-04-24 12:33:38</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78235><label for=COG-78235>COG-78235</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-77656 target=_blank>COG-77656</a></td>
    <td>[FP] INLAND REVENUE AUTHORITY OF SINGAPO -Snort - Need to check for the trigger of false positive SID 64378</td>
    <td>2025-02-13</td>
    <td>2025-04-24 12:07:39</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-77656><label for=COG-77656>COG-77656</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78211 target=_blank>COG-78211</a></td>
    <td>[CR] AVODAQ AG - AMP -  Linux T1037.004 False Negatives</td>
    <td>2025-03-11</td>
    <td>2025-04-24 11:54:53</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78211><label for=COG-78211>COG-78211</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-77601 target=_blank>COG-77601</a></td>
    <td>[CR] AVODAQ AG - AMP - T1070.002</td>
    <td>2025-02-11</td>
    <td>2025-04-24 11:54:44</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-77601><label for=COG-77601>COG-77601</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78027 target=_blank>COG-78027</a></td>
    <td>[CR] AVODAQ AG - AMP - Scheduled Task/Job: Scheduled Task via cmd</td>
    <td>2025-03-03</td>
    <td>2025-04-24 11:54:19</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78027><label for=COG-78027>COG-78027</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78089 target=_blank>COG-78089</a></td>
    <td>[CR] AVODAQ AG - AMP - T1027 Obfuscated Command in PowerShell</td>
    <td>2025-03-05</td>
    <td>2025-04-24 11:54:04</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78089><label for=COG-78089>COG-78089</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-77550 target=_blank>COG-77550</a></td>
    <td>[CR] AVODAQ AG - AMP - BP does not detect useradd  userdel  or usermod</td>
    <td>2025-02-07</td>
    <td>2025-04-24 11:53:52</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-77550><label for=COG-77550>COG-77550</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-77695 target=_blank>COG-77695</a></td>
    <td>[FN] GENERAL DYNAMICS INFORMATION TECHNOLOGY - SNORT3 - snort signature 1:1122 does not seem to properly inspect http_uri</td>
    <td>2025-02-14</td>
    <td>2025-04-24 11:52:45</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-77695><label for=COG-77695>COG-77695</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78773 target=_blank>COG-78773</a></td>
    <td>[FN] VERINT SYSTEMS INC - AMP - 68e0ee26b2ed2e2ea3ff504b50da1dc5316239f1e6de128a07445784279665f3</td>
    <td>2025-04-08</td>
    <td>2025-04-24 11:51:01</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78773><label for=COG-78773>COG-78773</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78972 target=_blank>COG-78972</a></td>
    <td>[FN] KABAfusion - WBRS - review the URL</td>
    <td>2025-04-20</td>
    <td>2025-04-23 17:38:42</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78972><label for=COG-78972>COG-78972</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-79016 target=_blank>COG-79016</a></td>
    <td>[FN] INDIGO - ETD - Missed SPAM Email</td>
    <td>2025-04-23</td>
    <td>2025-04-23 17:38:32</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-79016><label for=COG-79016>COG-79016</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-79015 target=_blank>COG-79015</a></td>
    <td>[FN] INDIGO - ETD - Missed SPAM Email</td>
    <td>2025-04-23</td>
    <td>2025-04-23 17:30:49</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-79015><label for=COG-79015>COG-79015</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78995 target=_blank>COG-78995</a></td>
    <td>[FN]INDIGO AIRLINES - ETD -  Failed to detect the phishing URL</td>
    <td>2025-04-22</td>
    <td>2025-04-23 16:03:33</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78995><label for=COG-78995>COG-78995</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78985 target=_blank>COG-78985</a></td>
    <td>[FP] INDIGO AIRLINES - ETD - Phishing / Scam/ Spam - TUVS</td>
    <td>2025-04-21</td>
    <td>2025-04-23 16:03:03</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78985><label for=COG-78985>COG-78985</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78983 target=_blank>COG-78983</a></td>
    <td>[FP]INDIGO AIRLINES - ETD - Wrongly convicted legitimate emails as Scam</td>
    <td>2025-04-21</td>
    <td>2025-04-23 16:02:57</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78983><label for=COG-78983>COG-78983</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78982 target=_blank>COG-78982</a></td>
    <td>[FP]INDIGO AIRLINES - ETD - Wrongly convicted legitimate emails as Scam</td>
    <td>2025-04-21</td>
    <td>2025-04-23 16:02:52</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78982><label for=COG-78982>COG-78982</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78980 target=_blank>COG-78980</a></td>
    <td>[FP]INDIGO AIRLINES - ETD - Wrongly convicted legitimate emails as Phishing</td>
    <td>2025-04-21</td>
    <td>2025-04-23 16:02:44</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78980><label for=COG-78980>COG-78980</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78978 target=_blank>COG-78978</a></td>
    <td>[FP] Indigo Airlines - ETD - Spam/Phishing/Scam</td>
    <td>2025-04-21</td>
    <td>2025-04-23 16:02:39</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78978><label for=COG-78978>COG-78978</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78560 target=_blank>COG-78560</a></td>
    <td>[CUST][FP] HYNIX - AMP - Tetra Report for dcc8c5f0657bc4c5955e9c6cf18be4a1255f7f8b19b8042584c33230b76e1518</td>
    <td>2025-03-27</td>
    <td>2025-04-23 14:51:08</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78560><label for=COG-78560>COG-78560</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78029 target=_blank>COG-78029</a></td>
    <td>[CR] AVODAQ AG - AMP - T1003.008 no alert when accessing user & password file.</td>
    <td>2025-03-03</td>
    <td>2025-04-22 11:34:05</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78029><label for=COG-78029>COG-78029</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-74286 target=_blank>COG-74286</a></td>
    <td>[TESTING][Automation][TE] Talos - Other - Not a real ticket</td>
    <td>2024-08-12</td>
    <td>2025-03-06 12:11:34</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-74286><label for=COG-74286>COG-74286</label><br></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><button type=submit>Resolve Tickets</button></form></td>
  </tr>
  <tr>
    <td>Total Opened</td>
    <td>26</td>
  </tr>
</table>
</div>
<br><br><div class=footer>
<p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
</body>
</html>