<html>
<head>
<link rel='stylesheet' href = "{{ url_for('static', filename='css/main.css') }}">
<h1 class='logo'>Assigned</h1>
</head>
<body><style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
</style>
<table style='width:100%'>
<p><a href="/layout">Home | </a><a href="/assigned">Assigned</a> <a href="/unassigned"> | Unassigned</a><a href="/getacetix"> | ACE Tix</a><a href="/last7"> | Last 7 Days</a></p>
<p><a href="/ajx"> | Scripting</a></p>  <tr>
    <th>Link</th>
    <th>Description</th>
    <th>DateOpened</th>
    <th>LastModified</th>
    <th>Bulk Resolve</th>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-77601 target=_blank>COG-77601</a></td>
    <td>[CR] AVODAQ AG - AMP - T1070.002</td>
    <td>2025-02-11</td>
    <td>2025-04-18 11:49:09</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-77601><label for=COG-77601>COG-77601</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78211 target=_blank>COG-78211</a></td>
    <td>[CR] AVODAQ AG - AMP -  Linux T1037.004 False Negatives</td>
    <td>2025-03-11</td>
    <td>2025-04-18 11:48:50</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78211><label for=COG-78211>COG-78211</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78027 target=_blank>COG-78027</a></td>
    <td>[CR] AVODAQ AG - AMP - Scheduled Task/Job: Scheduled Task via cmd</td>
    <td>2025-03-03</td>
    <td>2025-04-18 11:45:11</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78027><label for=COG-78027>COG-78027</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78089 target=_blank>COG-78089</a></td>
    <td>[CR] AVODAQ AG - AMP - T1027 Obfuscated Command in PowerShell</td>
    <td>2025-03-05</td>
    <td>2025-04-18 11:44:29</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78089><label for=COG-78089>COG-78089</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-77550 target=_blank>COG-77550</a></td>
    <td>[CR] AVODAQ AG - AMP - BP does not detect useradd  userdel  or usermod</td>
    <td>2025-02-07</td>
    <td>2025-04-18 11:43:53</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-77550><label for=COG-77550>COG-77550</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78029 target=_blank>COG-78029</a></td>
    <td>[CR] AVODAQ AG - AMP - T1003.008 no alert when accessing user & password file.</td>
    <td>2025-03-03</td>
    <td>2025-04-18 06:43:48</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78029><label for=COG-78029>COG-78029</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78560 target=_blank>COG-78560</a></td>
    <td>[CUST][FP] HYNIX - AMP - Tetra Report for dcc8c5f0657bc4c5955e9c6cf18be4a1255f7f8b19b8042584c33230b76e1518</td>
    <td>2025-03-27</td>
    <td>2025-04-18 02:43:36</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78560><label for=COG-78560>COG-78560</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78880 target=_blank>COG-78880</a></td>
    <td>[FP] INSURANCE AUTHORITY-IPAS-Outbreak Filters identified as Positive</td>
    <td>2025-04-14</td>
    <td>2025-04-18 02:16:51</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78880><label for=COG-78880>COG-78880</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-77656 target=_blank>COG-77656</a></td>
    <td>[FP] INLAND REVENUE AUTHORITY OF SINGAPO -Snort - Need to check for the trigger of false positive SID 64378</td>
    <td>2025-02-13</td>
    <td>2025-04-18 01:41:38</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-77656><label for=COG-77656>COG-77656</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78839 target=_blank>COG-78839</a></td>
    <td>[FP] HITACHI LTD - IPAS - SDR Legit Domain Flagged Untrusted</td>
    <td>2025-04-11</td>
    <td>2025-04-18 01:20:32</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78839><label for=COG-78839>COG-78839</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78949 target=_blank>COG-78949</a></td>
    <td>[FP] YAS HOLDING LLC - IPAS- Suspect SPAM</td>
    <td>2025-04-17</td>
    <td>2025-04-17 12:57:35</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78949><label for=COG-78949>COG-78949</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78879 target=_blank>COG-78879</a></td>
    <td>[FN] BMMI – AMP – Malicious file being missed</td>
    <td>2025-04-13</td>
    <td>2025-04-17 11:50:32</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78879><label for=COG-78879>COG-78879</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78921 target=_blank>COG-78921</a></td>
    <td>[FP]JR EAST JAPAN INFORMATION SYSTEMS COMPANY- AMP - 9d6b6b6ac356fac7eb2cfd6456ac2c9c35de9adeba783e6ee13f236424cb90b0</td>
    <td>2025-04-16</td>
    <td>2025-04-16 15:08:37</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78921><label for=COG-78921>COG-78921</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-77695 target=_blank>COG-77695</a></td>
    <td>[FN] GENERAL DYNAMICS INFORMATION TECHNOLOGY - SNORT3 - snort signature 1:1122 does not seem to properly inspect http_uri</td>
    <td>2025-02-14</td>
    <td>2025-04-16 14:28:13</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-77695><label for=COG-77695>COG-77695</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78235 target=_blank>COG-78235</a></td>
    <td>[CR] BUNZL OUTSOURUING SERVICES BV - AMP - see provided links for possible signatures</td>
    <td>2025-03-12</td>
    <td>2025-04-16 14:24:54</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78235><label for=COG-78235>COG-78235</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-77716 target=_blank>COG-77716</a></td>
    <td>[FP] RUHR-UNIVERSITAET BOCHUM - Endpoint - BP Modify Unix Shell Configuration</td>
    <td>2025-02-17</td>
    <td>2025-04-16 13:37:35</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-77716><label for=COG-77716>COG-77716</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-78773 target=_blank>COG-78773</a></td>
    <td>[FN] VERINT SYSTEMS INC - AMP - 68e0ee26b2ed2e2ea3ff504b50da1dc5316239f1e6de128a07445784279665f3</td>
    <td>2025-04-08</td>
    <td>2025-04-16 11:20:54</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-78773><label for=COG-78773>COG-78773</label><br></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-74286 target=_blank>COG-74286</a></td>
    <td>[TESTING][Automation][TE] Talos - Other - Not a real ticket</td>
    <td>2024-08-12</td>
    <td>2025-03-06 12:11:34</td>
    <td><form action=/bulkresolve method=POST><input type=checkbox name=resolve value=COG-74286><label for=COG-74286>COG-74286</label><br></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><button type=submit>Resolve Tickets</button></form></td>
  </tr>
  <tr>
    <td>Total Opened</td>
    <td>18</td>
  </tr>
</table>
</div>
<br><br><div class=footer>
<p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
</body>
</html>