<html>
<head>
<link rel='stylesheet' href = "{{ url_for('static', filename='css/main.css') }}">
<h1 class='logo'>Unassigned</h1>
</head>
<body><style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
</style>
<table style='width:100%'>
<p><a href="/layout">Home | </a><a href="/assigned">Assigned</a> <a href="/unassigned"> | Unassigned</a><a href="/getacetix"> | ACE Tix</a><a href="/last7"> | Last 7 Days</a></p>
<p><a href="/ajx"> | Scripting</a></p>  <tr>
    <th>Link</th>
    <th>Description</th>
    <th>Created</th>
    <th>Assign</th>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-81775 target=_blank>COG-81775</a></td>
    <td>[FP] VIRGINIA COMMONWEALTH UNIVERSITY – IPAS – Legitimate message marked spam</td>
    <td>2025-09-19</td>
    <td><form action=/takescript method=POST><input type=checkbox name=checks value=COG-81775><label for=COG-81775>COG-81775</label></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-81774 target=_blank>COG-81774</a></td>
    <td>"[FP] ""FIRSTWAVE TECHNOLOGY - TELSTRA"" - IPAS - legit emails marked as spam"</td>
    <td>2025-09-19</td>
    <td><form action=/takescript method=POST><input type=checkbox name=checks value=COG-81774><label for=COG-81774>COG-81774</label></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td><button type=submit>Take Selected Tickets</button></form></td>
  </tr>
  <tr>
    <td>Total Opened</td>
    <td>2</td>
  </tr>
</table>
</div>
<br><br><div class=footer>
<p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
</body>
</html>