<html>
<head>
<link rel='stylesheet' href = "{{ url_for('static', filename='css/main.css') }}">
<h1 class='logo'>Unassigned</h1>
</head>
<body><style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
</style>
<table style='width:100%'>
<p><a href="/layout">Home | </a><a href="/assigned">Assigned</a> <a href="/unassigned"> | Unassigned</a><a href="/getacetix"> | ACE Tix</a><a href="/last7"> | Last 7 Days</a></p>
<p><a href="/ajx"> | Scripting</a></p>  <tr>
    <th>Link</th>
    <th>Description</th>
    <th>Created</th>
    <th>Assign</th>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-79043 target=_blank>COG-79043</a></td>
    <td>PROXIMUS - IPAS- FP</td>
    <td>2025-04-24</td>
    <td><form action=/takescript method=POST><input type=checkbox name=checks value=COG-79043><label for=COG-79043>COG-79043</label></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-79042 target=_blank>COG-79042</a></td>
    <td>[fp]Log file getting flagged as malicious</td>
    <td>2025-04-24</td>
    <td><form action=/takescript method=POST><input type=checkbox name=checks value=COG-79042><label for=COG-79042>COG-79042</label></td>
  </tr>
  <tr>
    <td><a href =https://jira.talos.cisco.com/browse/COG-79041 target=_blank>COG-79041</a></td>
    <td>699013792: DSV AS - File Validation Request</td>
    <td>2025-04-24</td>
    <td><form action=/takescript method=POST><input type=checkbox name=checks value=COG-79041><label for=COG-79041>COG-79041</label></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td><button type=submit>Take Selected Tickets</button></form></td>
  </tr>
  <tr>
    <td>Total Opened</td>
    <td>3</td>
  </tr>
</table>
</div>
<br><br><div class=footer>
<p>Copyright (c) 2022 wikoeste, Cisco Internal Use Only</p>
</div>
</body>
</html>